/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    text-align: center;
}

/* Make container full-width */
.container {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

#response {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
    white-space: pre-line; /* Allow line breaks for subtitles */
}


/* circle */

#mic-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#mic-button.active{
     background-color: #ff5252; /*  change color when active */
}

#mic-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 82, 82, 0.5);
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

#mic-button.active::before {
    display: block;
}

canvas {
    width: 100%;
    height: 100px;
    background: #f4f4f9;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 { font-size: 2rem; }
    button { padding: 12px 25px; font-size: 1rem; }
    #response { font-size: 1rem; }
}
