<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pico AI Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<div class="app">

    <!-- HEADER -->

    <header id="header">
        <div class="logo">
            <div>
                <h2>Pico</h2>
            </div>
        </div>
    </header>


    <!-- WELCOME -->

    <section id="welcome-screen">

        <div class="welcome-content">
            <h1>Hi, I'm Pico</h1>
            <p>How can I help you today?</p>
        </div>

    </section>


    <!-- CHAT -->

    <main id="chat-section">

        <div id="chat-window">

        </div>

    </main>


    <!-- BOTTOM INPUT -->

    <footer id="chat-input">

        <div class="input-wrapper">

            <textarea
                id="text-input"
                rows="1"
                placeholder="Message Pico..."
            ></textarea>

            <button id="mic-button" class="input-icon">
                <i class="fa-solid fa-microphone"></i>
            </button>

            <button id="send-button" class="input-icon send">
                <i class="fa-solid fa-arrow-up"></i>
            </button>

        </div>

    </footer>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>